.create,
.update,
.read,
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 50px;
}

.home-link {
  text-decoration: none;
  padding: 3px 5px 3px 5px;
  font-weight: 700;
  background-color: white;
  color: black;
  width: max-content;
}

.home-link,
.countries-dropdown:hover {
  background-color: #211e56;
  color: white;
}

.hm-lnk-btn-left {
  width: fit-content;
}

.countryInput {
  width: 102px;
}

.country-code-input {
  width: 100px;
}

.phone-number-input {
  width: 153px;
}

.country-code-errors {
  display: flex;
}

.error {
  color: red;
  font-size: 8px;
  margin-left: 88%;
}

.errorc {
  color: red;
  font-size: 8px;
  margin-left: 33%;
}

.errorcc {
  color: red;
  font-size: 8px;
  margin-left: 46.5%;
}

.dropdown {
  width: 82px;
  font-size: 22px;
  max-height: 85px;
  height: fit-content;
  overflow-y: scroll;
  position: absolute;
  margin: 24px 0 0 149px;
  background-color: #363370;
  opacity: 0.8;
}

.countries-dropdown {
  font-size: 12px;
  cursor: pointer;
}

.country-input {
  width: 67%;
}

.country-dropdown {
  width: 272px;
  font-size: 12px;
  max-height: 85px;
  height: fit-content;
  overflow-y: scroll;
  position: absolute;
  margin: 24px 0 0 147px;
  background-color: #363370;
  opacity: 0.8;
}

.dropdown-results {
  font-size: 10px;
}

.dropdown-results:hover {
  background-color: #040136;
}

.cdrop-down-input {
  position: relative;
}

.form {
  min-width: 420px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-section {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

label {
  float: left;
}

input {
  float: right;
  width: 65%;
}

.submit-btn,
.read-back-btn {
  background-color: white;
  color: #0b0a3d;
  padding: 5px;
  margin-top: 0;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}

.read-back-btn {
  margin: 0 5px 0 5px;
}

.back-btn {
  display: flex;
  align-items: center;
}

.submit-btn:hover {
  background-color: #211e56;
  color: white;
}

.read-back-btn:hover {
  background-color: #211e56;
  color: white;
}

.delete {
  cursor: pointer;
}

.update {
  cursor: pointer;
}

.footer {
  position: fixed;
  bottom: -1.3rem;
  opacity: 0.9;
  right: 0;
  background-color: #363370;
  padding: 5px;
  width: 100vw;
}

.name {
  color: whitesmoke;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  th,
  td {
    font-size: 10px;
  }
}
